<a href="https://colab.research.google.com/github/KirolosKhairy/hw_1/blob/main/%D0%B4%D0%B7_1_%D0%AD%D0%BB%D0%B8%D1%8F_%D0%9A%D0%B8%D1%80%D0%BE%D0%BB%D0%BE%D1%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##ğŸ§­ Ğ§Ğ°ÑÑ‚ÑŒ 1 â€” Polars: Titanic (train.csv) â€” Ğ—Ğ°Ğ³Ñ€ÑƒĞ·ĞºĞ° Ğ¸ Ğ°Ğ½Ğ°Ğ»Ğ¸Ğ·

###ğŸ”§ Ğ£ÑÑ‚Ğ°Ğ½Ğ¾Ğ²ĞºĞ° Ğ¸ Ğ¸Ğ¼Ğ¿Ğ¾Ñ€Ñ‚

In [1]:
!pip -q install polars pyarrow
import polars as pl
pl.Config.set_tbl_rows(30)
pl.Config.set_tbl_width_chars(160)
pl.Config.set_fmt_str_lengths(80)

polars.config.Config

###ğŸ“¥ Ğ§Ñ‚ĞµĞ½Ğ¸Ğµ Ğ´Ğ°Ñ‚Ğ°ÑĞµÑ‚Ğ°

In [2]:
dtypes = {"PassengerId": pl.Int32, "Survived": pl.Int8, "Pclass": pl.Int8, "Name": pl.Utf8, "Sex": pl.Categorical, "Age": pl.Float32, "SibSp": pl.Int8, "Parch": pl.Int8, "Ticket": pl.Utf8, "Fare": pl.Float32, "Cabin": pl.Utf8, "Embarked": pl.Categorical}
df = pl.read_csv("/content/train.csv", schema_overrides=dtypes)
df

shape: (891, 12)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ PassengerId â”† Survived â”† Pclass â”† Name                                                â”† â€¦ â”† Ticket           â”† Fare      â”† Cabin â”† Embarked â”‚
â”‚ ---         â”† ---      â”† ---    â”† ---                                                 â”†   â”† ---              â”† ---       â”† ---   â”† ---      â”‚
â”‚ i32         â”† i8       â”† i8     â”† str                                                 â”†   â”† str              â”† f32       â”† str   â”† cat      â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 1           â”† 0        â”† 3      â”† Braund, Mr. Owen Harris                             â”† â€¦ â”† A/5 21171        â”† 7.25      â”† null  â”† S        â”‚
â”‚ 2           â”† 1        â”† 1      â”† Cumings, Mrs. John Bradley (Florence Briggs Thayer) â”† â€¦ â”† PC 17599         â”† 71.283302 â”† C85   â”† C        â”‚
â”‚ 3           â”† 1        â”† 3      â”† Heikkinen, Miss. Laina                              â”† â€¦ â”† STON/O2. 3101282 â”† 7.925     â”† null  â”† S        â”‚
â”‚ 4           â”† 1        â”† 1      â”† Futrelle, Mrs. Jacques Heath (Lily May Peel)        â”† â€¦ â”† 113803           â”† 53.099998 â”† C123  â”† S        â”‚
â”‚ 5           â”† 0        â”† 3      â”† Allen, Mr. William Henry                            â”† â€¦ â”† 373450           â”† 8.05      â”† null  â”† S        â”‚
â”‚ 6           â”† 0        â”† 3      â”† Moran, Mr. James                                    â”† â€¦ â”† 330877           â”† 8.4583    â”† null  â”† Q        â”‚
â”‚ 7           â”† 0        â”† 1      â”† McCarthy, Mr. Timothy J                             â”† â€¦ â”† 17463            â”† 51.862499 â”† E46   â”† S        â”‚
â”‚ 8           â”† 0        â”† 3      â”† Palsson, Master. Gosta Leonard                      â”† â€¦ â”† 349909           â”† 21.075001 â”† null  â”† S        â”‚
â”‚ 9           â”† 1        â”† 3      â”† Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)   â”† â€¦ â”† 347742           â”† 11.1333   â”† null  â”† S        â”‚
â”‚ 10          â”† 1        â”† 2      â”† Nasser, Mrs. Nicholas (Adele Achem)                 â”† â€¦ â”† 237736           â”† 30.070801 â”† null  â”† C        â”‚
â”‚ 11          â”† 1        â”† 3      â”† Sandstrom, Miss. Marguerite Rut                     â”† â€¦ â”† PP 9549          â”† 16.700001 â”† G6    â”† S        â”‚
â”‚ 12          â”† 1        â”† 1      â”† Bonnell, Miss. Elizabeth                            â”† â€¦ â”† 113783           â”† 26.549999 â”† C103  â”† S        â”‚
â”‚ 13          â”† 0        â”† 3      â”† Saundercock, Mr. William Henry                      â”† â€¦ â”† A/5. 2151        â”† 8.05      â”† null  â”† S        â”‚
â”‚ 14          â”† 0        â”† 3      â”† Andersson, Mr. Anders Johan                         â”† â€¦ â”† 347082           â”† 31.275    â”† null  â”† S        â”‚
â”‚ 15          â”† 0        â”† 3      â”† Vestrom, Miss. Hulda Amanda Adolfina                â”† â€¦ â”† 350406           â”† 7.8542    â”† null  â”† S        â”‚
â”‚ â€¦           â”† â€¦        â”† â€¦      â”† â€¦                                                   â”† â€¦ â”† â€¦                â”† â€¦         â”† â€¦     â”† â€¦        â”‚
â”‚ 877         â”† 0        â”† 3      â”† Gustafsson, Mr. Alfred Ossian                       â”† â€¦ â”† 7534             â”† 9.8458    â”† null  â”† S        â”‚
â”‚ 878         â”† 0        â”† 3      â”† Petroff, Mr. Nedelio                                â”† â€¦ â”† 349212           â”† 7.8958    â”† null  â”† S        â”‚
â”‚ 879         â”† 0        â”† 3      â”† Laleff, Mr. Kristo                                  â”† â€¦ â”† 349217           â”† 7.8958    â”† null  â”† S        â”‚
â”‚ 880         â”† 1        â”† 1      â”† Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)       â”† â€¦ â”† 11767            â”† 83.158302 â”† C50   â”† C        â”‚
â”‚ 881         â”† 1        â”† 2      â”† Shelley, Mrs. William (Imanita Parrish Hall)        â”† â€¦ â”† 230433           â”† 26.0      â”† null  â”† S        â”‚
â”‚ 882         â”† 0        â”† 3      â”† Markun, Mr. Johann                                  â”† â€¦ â”† 349257           â”† 7.8958    â”† null  â”† S        â”‚
â”‚ 883         â”† 0        â”† 3      â”† Dahlberg, Miss. Gerda Ulrika                        â”† â€¦ â”† 7552             â”† 10.5167   â”† null  â”† S        â”‚
â”‚ 884         â”† 0        â”† 2      â”† Banfield, Mr. Frederick James                       â”† â€¦ â”† C.A./SOTON 34068 â”† 10.5      â”† null  â”† S        â”‚
â”‚ 885         â”† 0        â”† 3      â”† Sutehall, Mr. Henry Jr                              â”† â€¦ â”† SOTON/OQ 392076  â”† 7.05      â”† null  â”† S        â”‚
â”‚ 886         â”† 0        â”† 3      â”† Rice, Mrs. William (Margaret Norton)                â”† â€¦ â”† 382652           â”† 29.125    â”† null  â”† Q        â”‚
â”‚ 887         â”† 0        â”† 2      â”† Montvila, Rev. Juozas                               â”† â€¦ â”† 211536           â”† 13.0      â”† null  â”† S        â”‚
â”‚ 888         â”† 1        â”† 1      â”† Graham, Miss. Margaret Edith                        â”† â€¦ â”† 112053           â”† 30.0      â”† B42   â”† S        â”‚
â”‚ 889         â”† 0        â”† 3      â”† Johnston, Miss. Catherine Helen "Carrie"            â”† â€¦ â”† W./C. 6607       â”† 23.450001 â”† null  â”† S        â”‚
â”‚ 890         â”† 1        â”† 1      â”† Behr, Mr. Karl Howell                               â”† â€¦ â”† 111369           â”† 30.0      â”† C148  â”† C        â”‚
â”‚ 891         â”† 0        â”† 3      â”† Dooley, Mr. Patrick                                 â”† â€¦ â”† 370376           â”† 7.75      â”† null  â”† Q        â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

###ğŸ§® Ğ‘Ğ°Ğ·Ğ¾Ğ²Ğ°Ñ Ğ¸Ğ½Ñ„Ğ¾Ñ€Ğ¼Ğ°Ñ†Ğ¸Ñ

In [3]:
pl.DataFrame({"metric":["rows","cols"],"value":[df.height, df.width]})

shape: (2, 2)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”
â”‚ metric â”† value â”‚
â”‚ ---    â”† ---   â”‚
â”‚ str    â”† i64   â”‚
â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•¡
â”‚ rows   â”† 891   â”‚
â”‚ cols   â”† 12    â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”˜

In [4]:
pl.DataFrame({"column": df.columns, "dtype": [str(t) for t in df.dtypes]})

shape: (12, 2)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ column      â”† dtype                            â”‚
â”‚ ---         â”† ---                              â”‚
â”‚ str         â”† str                              â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ PassengerId â”† Int32                            â”‚
â”‚ Survived    â”† Int8                             â”‚
â”‚ Pclass      â”† Int8                             â”‚
â”‚ Name        â”† String                           â”‚
â”‚ Sex         â”† Categorical(ordering='physical') â”‚
â”‚ Age         â”† Float32                          â”‚
â”‚ SibSp       â”† Int8                             â”‚
â”‚ Parch       â”† Int8                             â”‚
â”‚ Ticket      â”† String                           â”‚
â”‚ Fare        â”† Float32                          â”‚
â”‚ Cabin       â”† String                           â”‚
â”‚ Embarked    â”† Categorical(ordering='physical') â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [5]:
df.null_count().transpose(include_header=True, header_name="column", column_names=["nulls"]).sort("nulls", descending=True)

shape: (12, 2)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”
â”‚ column      â”† nulls â”‚
â”‚ ---         â”† ---   â”‚
â”‚ str         â”† u32   â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•¡
â”‚ Cabin       â”† 687   â”‚
â”‚ Age         â”† 177   â”‚
â”‚ Embarked    â”† 2     â”‚
â”‚ PassengerId â”† 0     â”‚
â”‚ Survived    â”† 0     â”‚
â”‚ Pclass      â”† 0     â”‚
â”‚ Name        â”† 0     â”‚
â”‚ Sex         â”† 0     â”‚
â”‚ SibSp       â”† 0     â”‚
â”‚ Parch       â”† 0     â”‚
â”‚ Ticket      â”† 0     â”‚
â”‚ Fare        â”† 0     â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”˜

In [6]:
df.describe()

shape: (9, 13)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ statistic  â”† PassengerId â”† Survived â”† Pclass   â”† â€¦ â”† Ticket    â”† Fare       â”† Cabin â”† Embarked â”‚
â”‚ ---        â”† ---         â”† ---      â”† ---      â”†   â”† ---       â”† ---        â”† ---   â”† ---      â”‚
â”‚ str        â”† f64         â”† f64      â”† f64      â”†   â”† str       â”† f64        â”† str   â”† str      â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•¡
â”‚ count      â”† 891.0       â”† 891.0    â”† 891.0    â”† â€¦ â”† 891       â”† 891.0      â”† 204   â”† 889      â”‚
â”‚ null_count â”† 0.0         â”† 0.0      â”† 0.0      â”† â€¦ â”† 0         â”† 0.0        â”† 687   â”† 2        â”‚
â”‚ mean       â”† 446.0       â”† 0.383838 â”† 2.308642 â”† â€¦ â”† null      â”† 32.204208  â”† null  â”† null     â”‚
â”‚ std        â”† 257.353842  â”† 0.486592 â”† 0.836071 â”† â€¦ â”† null      â”† 49.693428  â”† null  â”† null     â”‚
â”‚ min        â”† 1.0         â”† 0.0      â”† 1.0      â”† â€¦ â”† 110152    â”† 0.0        â”† A10   â”† null     â”‚
â”‚ 25%        â”† 224.0       â”† 0.0      â”† 2.0      â”† â€¦ â”† null      â”† 7.925      â”† null  â”† null     â”‚
â”‚ 50%        â”† 446.0       â”† 0.0      â”† 3.0      â”† â€¦ â”† null      â”† 14.4542    â”† null  â”† null     â”‚
â”‚ 75%        â”† 669.0       â”† 1.0      â”† 3.0      â”† â€¦ â”† null      â”† 31.0       â”† null  â”† null     â”‚
â”‚ max        â”† 891.0       â”† 1.0      â”† 3.0      â”† â€¦ â”† WE/P 5735 â”† 512.329224 â”† T     â”† null     â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

###ğŸŸï¸ ĞšĞ¾Ğ»Ğ¸Ñ‡ĞµÑÑ‚Ğ²Ğ¾ Ğ¿Ğ°ÑÑĞ°Ğ¶Ğ¸Ñ€Ğ¾Ğ² Ğ¿Ğ¾ ĞºĞ»Ğ°ÑÑĞ°Ğ¼

In [7]:
df.group_by("Pclass").agg(pl.len().alias("count")).sort("Pclass")

shape: (3, 2)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”
â”‚ Pclass â”† count â”‚
â”‚ ---    â”† ---   â”‚
â”‚ i8     â”† u32   â”‚
â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•¡
â”‚ 1      â”† 216   â”‚
â”‚ 2      â”† 184   â”‚
â”‚ 3      â”† 491   â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”˜

###ğŸ›Ÿ Ğ’Ñ‹Ğ¶Ğ¸Ğ²ÑˆĞ¸Ğµ Ğ¿Ğ¾ Ğ¿Ğ¾Ğ»Ñƒ

In [8]:
df.filter(pl.col("Survived")==1).group_by("Sex").agg(pl.len().alias("count")).sort("Sex")

shape: (2, 2)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”
â”‚ Sex    â”† count â”‚
â”‚ ---    â”† ---   â”‚
â”‚ cat    â”† u32   â”‚
â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•¡
â”‚ female â”† 233   â”‚
â”‚ male   â”† 109   â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”˜

###ğŸ‘´ Ğ¡Ñ€ĞµĞ·: Age > 44

In [9]:
df.filter(pl.col("Age")>44).select(["PassengerId","Name","Sex","Age","Pclass","Survived","Fare"]).sort("Age", descending=True)

shape: (115, 7)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ PassengerId â”† Name                                            â”† Sex    â”† Age  â”† Pclass â”† Survived â”† Fare       â”‚
â”‚ ---         â”† ---                                             â”† ---    â”† ---  â”† ---    â”† ---      â”† ---        â”‚
â”‚ i32         â”† str                                             â”† cat    â”† f32  â”† i8     â”† i8       â”† f32        â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 631         â”† Barkworth, Mr. Algernon Henry Wilson            â”† male   â”† 80.0 â”† 1      â”† 1        â”† 30.0       â”‚
â”‚ 852         â”† Svensson, Mr. Johan                             â”† male   â”† 74.0 â”† 3      â”† 0        â”† 7.775      â”‚
â”‚ 97          â”† Goldschmidt, Mr. George B                       â”† male   â”† 71.0 â”† 1      â”† 0        â”† 34.654202  â”‚
â”‚ 494         â”† Artagaveytia, Mr. Ramon                         â”† male   â”† 71.0 â”† 1      â”† 0        â”† 49.5042    â”‚
â”‚ 117         â”† Connors, Mr. Patrick                            â”† male   â”† 70.5 â”† 3      â”† 0        â”† 7.75       â”‚
â”‚ 673         â”† Mitchell, Mr. Henry Michael                     â”† male   â”† 70.0 â”† 2      â”† 0        â”† 10.5       â”‚
â”‚ 746         â”† Crosby, Capt. Edward Gifford                    â”† male   â”† 70.0 â”† 1      â”† 0        â”† 71.0       â”‚
â”‚ 34          â”† Wheadon, Mr. Edward H                           â”† male   â”† 66.0 â”† 2      â”† 0        â”† 10.5       â”‚
â”‚ 55          â”† Ostby, Mr. Engelhart Cornelius                  â”† male   â”† 65.0 â”† 1      â”† 0        â”† 61.979198  â”‚
â”‚ 281         â”† Duane, Mr. Frank                                â”† male   â”† 65.0 â”† 3      â”† 0        â”† 7.75       â”‚
â”‚ 457         â”† Millet, Mr. Francis Davis                       â”† male   â”† 65.0 â”† 1      â”† 0        â”† 26.549999  â”‚
â”‚ 439         â”† Fortune, Mr. Mark                               â”† male   â”† 64.0 â”† 1      â”† 0        â”† 263.0      â”‚
â”‚ 546         â”† Nicholson, Mr. Arthur Ernest                    â”† male   â”† 64.0 â”† 1      â”† 0        â”† 26.0       â”‚
â”‚ 276         â”† Andrews, Miss. Kornelia Theodosia               â”† female â”† 63.0 â”† 1      â”† 1        â”† 77.958298  â”‚
â”‚ 484         â”† Turkula, Mrs. (Hedwig)                          â”† female â”† 63.0 â”† 3      â”† 1        â”† 9.5875     â”‚
â”‚ â€¦           â”† â€¦                                               â”† â€¦      â”† â€¦    â”† â€¦      â”† â€¦        â”† â€¦          â”‚
â”‚ 790         â”† Guggenheim, Mr. Benjamin                        â”† male   â”† 46.0 â”† 1      â”† 0        â”† 79.199997  â”‚
â”‚ 204         â”† Youseff, Mr. Gerious                            â”† male   â”† 45.5 â”† 3      â”† 0        â”† 7.225      â”‚
â”‚ 332         â”† Partner, Mr. Austen                             â”† male   â”† 45.5 â”† 1      â”† 0        â”† 28.5       â”‚
â”‚ 63          â”† Harris, Mr. Henry Birkhardt                     â”† male   â”† 45.0 â”† 1      â”† 0        â”† 83.474998  â”‚
â”‚ 130         â”† Ekstrom, Mr. Johan                              â”† male   â”† 45.0 â”† 3      â”† 0        â”† 6.975      â”‚
â”‚ 168         â”† Skoog, Mrs. William (Anna Bernhardina Karlsson) â”† female â”† 45.0 â”† 3      â”† 0        â”† 27.9       â”‚
â”‚ 188         â”† Romaine, Mr. Charles Hallace ("Mr C Rolmane")   â”† male   â”† 45.0 â”† 1      â”† 1        â”† 26.549999  â”‚
â”‚ 277         â”† Lindblom, Miss. Augusta Charlotta               â”† female â”† 45.0 â”† 3      â”† 0        â”† 7.75       â”‚
â”‚ 339         â”† Dahl, Mr. Karl Edwart                           â”† male   â”† 45.0 â”† 3      â”† 1        â”† 8.05       â”‚
â”‚ 340         â”† Blackwell, Mr. Stephen Weart                    â”† male   â”† 45.0 â”† 1      â”† 0        â”† 35.5       â”‚
â”‚ 363         â”† Barbara, Mrs. (Catherine David)                 â”† female â”† 45.0 â”† 3      â”† 0        â”† 14.4542    â”‚
â”‚ 441         â”† Hart, Mrs. Benjamin (Esther Ada Bloomfield)     â”† female â”† 45.0 â”† 2      â”† 1        â”† 26.25      â”‚
â”‚ 537         â”† Butt, Major. Archibald Willingham               â”† male   â”† 45.0 â”† 1      â”† 0        â”† 26.549999  â”‚
â”‚ 707         â”† Kelly, Mrs. Florence "Fannie"                   â”† female â”† 45.0 â”† 2      â”† 1        â”† 13.5       â”‚
â”‚ 857         â”† Wick, Mrs. George Dennick (Mary Hitchcock)      â”† female â”† 45.0 â”† 1      â”† 1        â”† 164.866699 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

##ğŸï¸ Ğ§Ğ°ÑÑ‚ÑŒ 2 â€” Ğ£ÑĞºĞ¾Ñ€ĞµĞ½Ğ¸Ğµ Ñ pandas: Titanic

###ğŸ”§ Ğ£ÑÑ‚Ğ°Ğ½Ğ¾Ğ²ĞºĞ° Ğ¸ Ğ¸Ğ¼Ğ¿Ğ¾Ñ€Ñ‚

In [10]:
!pip -q install bottleneck
import pandas as pd
import numpy as np
import bottleneck as bn

###ğŸ“¥ Ğ§Ñ‚ĞµĞ½Ğ¸Ğµ Ğ´Ğ°Ñ‚Ğ°ÑĞµÑ‚Ğ°

In [11]:
df_pd = pd.read_csv("/content/train.csv")
df_pd.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

###ğŸ“ Ğ¡Ñ€ĞµĞ´Ğ½Ğ¸Ğ¹ Ğ²Ğ¾Ğ·Ñ€Ğ°ÑÑ‚ Ğ¸ Ïƒ (bottleneck)

In [12]:
age = pd.to_numeric(df_pd["Age"], errors="coerce").to_numpy(dtype=float)
pd.DataFrame({"metric":["mean_age_bn","std_age_bn"],"value":[bn.nanmean(age), bn.nanstd(age)]})

        metric      value
0  mean_age_bn  29.699118
1   std_age_bn  14.516321

###ğŸ’¸ Ğ’ĞµĞºÑ‚Ğ¾Ñ€Ğ½Ğ¾Ğµ ÑĞ¾Ğ·Ğ´Ğ°Ğ½Ğ¸Ğµ Fare_new

In [13]:
coef = np.where(df_pd["Pclass"].isin([1,2]), 1.3, 1.1)
df_pd["Fare_new"] = df_pd["Fare"].astype(float) * coef
df_pd[["Pclass","Fare","Fare_new"]].head(10)

   Pclass     Fare  Fare_new
0       3   7.2500   7.97500
1       1  71.2833  92.66829
2       3   7.9250   8.71750
3       1  53.1000  69.03000
4       3   8.0500   8.85500
5       3   8.4583   9.30413
6       1  51.8625  67.42125
7       3  21.0750  23.18250
8       3  11.1333  12.24663
9       2  30.0708  39.09204

###âœ… Ğ‘Ñ‹ÑÑ‚Ñ€Ñ‹Ğµ Ğ¿Ñ€Ğ¾Ğ²ĞµÑ€ĞºĞ¸

In [14]:
df_pd["Pclass"].value_counts().sort_index()

Pclass
1    216
2    184
3    491
Name: count, dtype: int64

In [15]:
df_pd["Fare_new"].isna().sum()

np.int64(0)

In [16]:
df_pd[["Fare","Fare_new"]].describe()

             Fare    Fare_new
count  891.000000  891.000000
mean    32.204208   40.358244
std     49.693429   64.894005
min      0.000000    0.000000
25%      7.910400    8.701440
50%     14.454200   16.900000
75%     31.000000   39.000000
max    512.329200  666.027960

##ğŸ§  Ğ§Ğ°ÑÑ‚ÑŒ 3 â€” ĞĞ¿Ñ‚Ğ¸Ğ¼Ğ¸Ğ·Ğ°Ñ†Ğ¸Ñ Ñ‚Ğ¸Ğ¿Ğ¾Ğ² Ğ² pandas: Housing

###ğŸ“¥ Ğ§Ñ‚ĞµĞ½Ğ¸Ğµ Ğ¸ Ğ¿Ğ°Ğ¼ÑÑ‚ÑŒ Ğ´Ğ¾

In [17]:
import pandas as pd, numpy as np, warnings
df = pd.read_csv("/content/Housing.csv")
base_mem_mb = df.memory_usage(deep=True).sum()/(1024**2)
pd.DataFrame({"metric":["memory_before_mb"],"value":[base_mem_mb]})

             metric     value
0  memory_before_mb  0.216717

###ğŸ§­ ĞŸĞ¾Ğ´Ğ±Ğ¾Ñ€ Ğ¾Ğ¿Ñ‚Ğ¸Ğ¼Ğ°Ğ»ÑŒĞ½Ñ‹Ñ… Ñ‚Ğ¸Ğ¿Ğ¾Ğ²

In [18]:
from pandas.api.types import is_integer_dtype, is_float_dtype, is_bool_dtype, is_object_dtype

def suggest_dtype(s):
    non_null = s.notna().sum()
    nunique = s.nunique(dropna=True)
    pct_unique = (nunique / non_null) if non_null else np.nan
    orig = str(s.dtype)
    sugg = orig
    reason = "keep"
    if is_integer_dtype(s):
        s2 = pd.to_numeric(s, downcast="integer")
        sugg = str(s2.dtype)
        reason = "downcast_integer"
    elif is_float_dtype(s):
        s2 = pd.to_numeric(s, downcast="float")
        sugg = str(s2.dtype)
        reason = "downcast_float"
    elif is_bool_dtype(s):
        sugg = "boolean" if s.isna().any() else "bool"
        reason = "bool"
    elif is_object_dtype(s):
        with warnings.catch_warnings():
            warnings.filterwarnings("ignore", message="Could not infer format, so each element will be parsed individually.*")
            s_dt = pd.to_datetime(s, errors="coerce", cache=True)
        ok = s_dt.notna().sum()
        if non_null and ok / non_null >= 0.95 and ok > 0:
            sugg = "datetime64[ns]"
            reason = "datetime"
        else:
            vals = s.dropna().astype("string").str.lower().str.strip()
            m_true = {"true","yes","y","1"}
            m_false = {"false","no","n","0"}
            if non_null and (vals.isin(m_true.union(m_false)).mean() >= 0.95):
                sugg = "boolean"
                reason = "bool_from_text"
            else:
                if non_null and nunique > 0 and (nunique <= max(50, int(0.5*non_null))):
                    sugg = "category"
                    reason = "low_cardinality"
                else:
                    sugg = "object"
                    reason = "text"
    return orig, sugg, non_null, nunique, pct_unique, reason

profile = []
for c in df.columns:
    profile.append(suggest_dtype(df[c])[:0]+(c,)+suggest_dtype(df[c]))
report = pd.DataFrame([{"column": c, "orig_dtype": o, "suggested_dtype": s, "non_null": nn, "n_unique": nu, "pct_unique": pu, "reason": r}
                       for (c,(o,s,nn,nu,pu,r)) in zip(df.columns, [suggest_dtype(df[c]) for c in df.columns])])
report

,column,orig_dtype,suggested_dtype,non_null,n_unique,pct_unique,reason
0,price,int64,int32,545,219,0.401835,downcast_integer
1,area,int64,int16,545,284,0.521101,downcast_integer
2,bedrooms,int64,int8,545,6,0.011009,downcast_integer
3,bathrooms,int64,int8,545,4,0.007339,downcast_integer
4,stories,int64,int8,545,4,0.007339,downcast_integer
5,mainroad,object,boolean,545,2,0.003670,bool_from_text
6,guestroom,object,boolean,545,2,0.003670,bool_from_text
7,basement,object,boolean,545,2,0.003670,bool_from_text
8,hotwaterheating,object,boolean,545,2,0.003670,bool_from_text
9,airconditioning,object,boolean,545,2,0.003670,bool_from_text
10,parking,int64,int8,545,4,0.007339,downcast_integer
11,prefarea,object,boolean,545,2,0.003670,bool_from_text
12,furnishingstatus,object,category,545,3,0.005505,low_cardinality

###ğŸ”„ ĞŸÑ€Ğ¸Ğ¼ĞµĞ½ĞµĞ½Ğ¸Ğµ Ñ‚Ğ¸Ğ¿Ğ¾Ğ²

In [19]:
df_opt = df.copy()
bool_map = {"true": True, "yes": True, "y": True, "1": True, "false": False, "no": False, "n": False, "0": False}
for _, row in report.iterrows():
    c = row["column"]
    target = row["suggested_dtype"]
    if target == row["orig_dtype"]:
        continue
    if target.startswith("int") or target.startswith("uint"):
        df_opt[c] = pd.to_numeric(df_opt[c], downcast="integer")
    elif target.startswith("float"):
        df_opt[c] = pd.to_numeric(df_opt[c], downcast="float")
    elif target == "boolean":
        vals = df_opt[c].astype("string").str.lower().str.strip()
        df_opt[c] = vals.map(bool_map).astype("boolean")
    elif target == "bool":
        df_opt[c] = df_opt[c].astype(bool)
    elif target == "datetime64[ns]":
        with warnings.catch_warnings():
            warnings.filterwarnings("ignore", message="Could not infer format, so each element will be parsed individually.*")
            df_opt[c] = pd.to_datetime(df_opt[c], errors="coerce", cache=True)
    elif target == "category":
        df_opt[c] = df_opt[c].astype("category")

###âš–ï¸ ĞŸĞ°Ğ¼ÑÑ‚ÑŒ Ğ¿Ğ¾ÑĞ»Ğµ Ğ¸ ÑĞºĞ¾Ğ½Ğ¾Ğ¼Ğ¸Ñ

In [20]:
opt_mem_mb = df_opt.memory_usage(deep=True).sum()/(1024**2)
pd.DataFrame({"metric":["memory_before_mb","memory_after_mb","saving_mb","saving_pct"],
              "value":[base_mem_mb, opt_mem_mb, base_mem_mb-opt_mem_mb, (1-opt_mem_mb/base_mem_mb)*100]})

             metric      value
0  memory_before_mb   0.216717
1   memory_after_mb   0.012356
2         saving_mb   0.204361
3        saving_pct  94.298639

###ğŸ—‚ï¸ Ğ˜Ğ·Ğ¼ĞµĞ½ĞµĞ½Ğ¸Ñ Ğ¿Ğ¾ ÑÑ‚Ğ¾Ğ»Ğ±Ñ†Ğ°Ğ¼

In [21]:
mem_before = df.memory_usage(index=False, deep=True)
mem_after = df_opt.memory_usage(index=False, deep=True)
delta = (mem_before - mem_after).sort_values(ascending=False)
changes = report.loc[report["orig_dtype"] != report["suggested_dtype"], ["column","orig_dtype","suggested_dtype","reason"]].set_index("column")
changes = changes.join(pd.DataFrame({"mem_before":mem_before, "mem_after":mem_after, "mem_saved":delta}))
changes.sort_values("mem_saved", ascending=False)

,orig_dtype,suggested_dtype,reason,mem_before,mem_after,mem_saved
column,,,,,,
furnishingstatus,object,category,low_cardinality,33101,834,32267
mainroad,object,boolean,bool_from_text,28263,1090,27173
basement,object,boolean,bool_from_text,27986,1090,26896
airconditioning,object,boolean,bool_from_text,27967,1090,26877
prefarea,object,boolean,bool_from_text,27923,1090,26833
guestroom,object,boolean,bool_from_text,27892,1090,26802
hotwaterheating,object,boolean,bool_from_text,27820,1090,26730
bedrooms,int64,int8,downcast_integer,4360,545,3815
stories,int64,int8,downcast_integer,4360,545,3815
bathrooms,int64,int8,downcast_integer,4360,545,3815
parking,int64,int8,downcast_integer,4360,545,3815
area,int64,int16,downcast_integer,4360,1090,3270
price,int64,int32,downcast_integer,4360,2180,2180